[Unit]
Description=Execute backup every daily at night.

[Timer]
OnCalendar=daily
Unit=bind-backup-incremental.service

[Install]
WantedBy=multi-user.target