{% set list_ns = hostname_fqdn_dynamic.split(',') %}
$TTL   86400 ; 1 day
@       IN      SOA     {{ ansible_fqdn }}. postmaster.{{ ansible_domain }} (
                          {{ lookup('pipe','date +%Y%m%d') + ('00') }}
                          28800   ; refresh  8 hours
                          7200    ; retry    2 hours
                          864000  ; expire  10 days
                          86400 ) ; min ttl  1 day

{% for in_ns in list_ns %}	
                          IN  NS     {{ in_ns }}.
{%- endfor %}


; QNAME policy records.
; (rpz-passthru.) - ответ DNS-сервера не модифицируется
; (rpz-tcp-only.) - вынуждает клиента выполнить запрос по TCP

$TTL   10800 ; 3 hours
                        TXT         "Administrators contact: ph. {{ bind_cont_ph_num }}, e-mail {{ bind_cont_mail }}"
                        
;END
