{% set list_ns = hostname_fqdn_dynamic.split(',') %}
$TTL   86400 ; 1 day
@       IN      SOA     {{ ansible_fqdn }}. postmaster.{{ ansible_domain }} (
                          {{ lookup('pipe','date +%Y%m%d') + ('00') }}
                          900     ; refresh  15 minutes
                          600     ; retry    10 minutes
                          2592000 ; expire   30 days
                          900 )   ; min ttl  15 minutes

{% for in_ns in list_ns %}	
                          IN  NS     {{ in_ns }}.
{%- endfor %}

$TTL   10800 ; 3 hours
                        TXT         "Administrators contact: ph. {{ bind_cont_ph_num }}, e-mail {{ bind_cont_mail }}"
                        
;END