{{ ansible_managed | comment }}
[Service]
Environment=NODE_EXPORTER_OPTS="--collector.arp --collector.cpu --collector.diskstats --collector.filesystem --collector.loadavg --collector.meminfo --collector.filefd --collector.netstat --collector.netdev --collector.netclass --collector.stat --collector.uname --collector.vmstat --collector.time --collector.mdadm --no-collector.zfs --collector.tcpstat --collector.bonding --collector.hwmon --collector.ksmd --collector.mountstats --collector.processes --collector.systemd --collector.edac --collector.logind --collector.buddyinfo --collector.network_route --collector.ntp"
ExecStart=
ExecStart=/usr/local/bin/node_exporter $NODE_EXPORTER_OPTS \
