{% set list_ns = hostname_fqdn_dynamic.split(',') %}
{% set slist_ns = hostname_fqdn_static.split(',') %}
$TTL   86400 ; 1 day
@       IN      SOA     {% if bind_fqdn is defined %}{{ bind_fqdn }}{% else %}{{ ansible_fqdn }}{% endif %}. postmaster.{{ ansible_domain }} (
                          {{ lookup('pipe','date +%Y%m%d') + ('00') }}
                          28800   ; refresh  8 hours
                          7200    ; retry    2 hours
                          864000  ; expire  10 days
                          86400 ) ; min ttl  1 day

{%  if bind_fqdn is defined %}
{% for in_ns in slist_ns %}
                          IN  NS     {{ in_ns }}.
{% endfor %}
{%  else %}
{% for in_ns in dlist_ns %}
                          IN  NS     {{ in_ns }}.
{% endfor %}
{%-  endif %}


; QNAME policy records.
; (rpz-passthru.) - ответ DNS-сервера не модифицируется
; (rpz-tcp-only.) - вынуждает клиента выполнить запрос по TCP

$TTL   10800 ; 3 hours
                        TXT         "Administrators contact: ph. {{ bind_cont_ph_num }}, e-mail {{ bind_cont_mail }}"
                        
;END
